* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header.navbar {
  display: flex;
  justify-content: center;
  padding: 25px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.navbar__container {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  width: 79%;
}

.navbar__logo {
  margin-right: auto;
}

.navbar img {
  max-height: 40px;
}

.navbar__hamburger-btn {
  align-items: center;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  justify-content: center;
  padding: 10px;
}

.navbar__toggle-checkbox {
  opacity: 0;
}

.navbar__hamburger {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.hamburger-icon {
  background-color: #333;
  border-radius: 3px;
  height: 3px;
  transition: all 0.3s ease-in-out;
  width: 20px;
}

.navbar__hamburger.active .hamburger-icon:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar__hamburger.active .hamburger-icon:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active .hamburger-icon:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar__menu-list,
.navbar__lang {
  align-items: center;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__menu-list {
  margin-right: 8%;
}

.navbar__lang {
  margin-left: 70px;
}

.navbar__menu-list li,
.navbar__lang li {
  list-style: none;
}

.navbar__menu-list a {
  color: #333;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.navbar__menu-list li {
  align-items: center;
  display: flex;
  height: 40px;
}

.navbar__menu-list a:hover,
.navbar__menu-list a.navbar__menu-item--active {
  color: #d82329;
  position: relative;
}

.navbar__menu-list a:hover::before,
.navbar__menu-list a.navbar__menu-item--active::before {
  background-color: #e03131;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  top: -27px;
  transform: translateX(-50%);
  width: 50%;
  opacity: 0;
  animation: slideDown 0.3s forwards; /* Thêm animation */
}

@keyframes slideDown {
  0% {
    top: -45px;
    opacity: 0;
  }
  100% {
    top: -27px;
    opacity: 1;
  }
}


.navbar__lang-btn {
  border-radius: 3px;
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 0;
  text-decoration: none;
}

.navbar__lang-btn--active {
  border: 1px solid #d82329;
  color: #d82329;
  padding: 3px 13px;
}

.video-container {
  height: 600px;
  overflow: hidden;
  width: 100%;
}

.video-container__video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.field {
  font-size: 20px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
}

.field__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.field__title {
  color: #333;
  font-size: 40px;
  margin-bottom: 1rem;
}

.field__content {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
}

.field__text {
  max-width: 450px;
  padding: 20px;
}

.field__description {
  background-color: #ffffff;
  border: 6px solid #f7f6f6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  color: #2b3441;
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 20px;
  padding: 25px 60px;
  position: relative;
  z-index: 1;
}

.field__description p {
  color: #2b3441;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.field__description p strong {
  color: #333;
}

.field__overlay-box {
  background-color: #ffffff;
  border: 6px solid #f7f6f6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  height: calc(100% - 80px);
  left: -50px;
  position: absolute;
  top: 50px;
  width: calc(100% + 50px);
  z-index: 0;
}

.field__image {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -50px;
  top: -35%;
  width: 50%;
  z-index: 2;
}

.field__image img {
  height: auto;
  max-width: 110%;
}

.boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 100px auto;
  max-width: 96%;
}

.box {
  border-radius: 16px;
  padding: 50px;
  position: relative;
  width: 37%;
}

.box--red {
  background-color: #c01111;
  color: #ffffff;
}

.box--white {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: #333333;
}

.box-header {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.box-tag {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-bottom: 30px;
  z-index: 1;
}

.box-tag--light {
  color: rgba(107, 107, 107, 0.8);
  font-size: 16px;
  margin-bottom: 30px;
}

.light {
  color: rgba(91, 91, 91, 0.8);
  font-size: 16px;
  margin-bottom: 30px;
}

.box-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.box-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.learn-more-btn {
  align-items: center;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  transition: color 0.3s ease;
  width: 100%;
  z-index: 0;
}

.learn-more-btn::before {
  background-color: inherit;
  border-radius: 8px;
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease;
  width: 20%;
  z-index: -1;
}

.learn-more-btn--red {
  background-color: #ffffff;
  color: #c2403d;
}

.learn-more-btn--red:hover {
  color: #ffffff;
}

.learn-more-btn--red:hover::before {
  background-color: #2b3441;
  width: 120%;
}

.learn-more-btn--dark {
  background-color: #2b3441;
  color: #ffffff;
}

.learn-more-btn--dark:hover {
  color: #ffffff;
}

.learn-more-btn--dark:hover::before {
  background-color: #c01111;
  width: 120%;
}

.button--icon {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 0.25;
}

.circle--red {
  background-color: #d75252;
}

.circle--white {
  background-color: #ebebeb;
}

.circle--top-left {
  height: 40px;
  left: 6%;
  top: 9%;
  width: 40px;
}

.circle--top-right {
  background-color: #d82329;
  height: 70px;
  right: 45px;
  top: -30px;
  width: 70px;
}

.circle-right {
  background-color: #c01111;
  height: 35px;
  right: -15%;
  top: 50%;
  width: 35px;
}

.circle--down-right {
  background-color: #fff7f7;
  bottom: -20%;
  height: 70px;
  left: 35%;
  width: 70px;
}

.project--container {
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  max-width: 1140px;
  position: relative;
  padding: 0 20px;
}

.project--title {
  position: relative;
}

.project--title h2 {
  color: #2f2f2f;
  font-size: 40px;
  font-weight: bold;
}

.project--down-left {
  background-color: #c011111a;
  height: 26px;
  position: absolute;
  top: 150%;
  width: 26px;
  z-index: 1;
}

.project--top-right {
  background-color: #c01111;
  height: 28px;
  left: 400px;
  position: absolute;
  top: -100%;
  width: 28px;
  z-index: 1;
}

.project--down-right {
  background-color: #c011111a;
  height: 70px;
  bottom: -50px;
  position: absolute;
  right: -60px;
  width: 70px;
  z-index: 1;
}

.project--content {
  align-items: center;
  display: flex;
  gap: 150px;
  justify-content: space-between;
}

.project--data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}

.project--items {
  margin: 65px 0 45px 0;
}

.project--item {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  margin: 0 0 30px 0;
  justify-content: between;
}


.project--number-client::before {
  animation: countClient 2s steps(20) forwards;
  color: #c01111;
  content: '0';
  display: inline-block;
  font-size: 112px;
  font-weight: 700;
  line-height: 1.2;
}

.project--number-service::before {
  animation: countService 2s steps(20) forwards;
  color: #c01111;
  content: '0';
  display: inline-block;
  font-size: 112px;
  font-weight: 700;
  line-height: 1.2;
}

@keyframes countClient {
  0% {
      content: '0';
  }

  5% {
      content: '10';
  }

  10% {
      content: '20';
  }

  15% {
      content: '30';
  }

  20% {
      content: '40';
  }

  25% {
      content: '50';
  }

  30% {
      content: '60';
  }

  35% {
      content: '70';
  }

  40% {
      content: '80';
  }

  45% {
      content: '90';
  }

  50% {
      content: '100';
  }

  55% {
      content: '110';
  }

  60% {
      content: '120';
  }

  65% {
      content: '130';
  }

  70% {
      content: '140';
  }

  75% {
      content: '150';
  }

  80% {
      content: '160';
  }

  85% {
      content: '170';
  }

  90% {
      content: '180';
  }

  95% {
      content: '190';
  }

  100% {
      content: '200';
  }
}

@keyframes countService {
  0% {
      content: '0';
  }

  5% {
      content: '15';
  }

  10% {
      content: '30';
  }

  15% {
      content: '45';
  }

  20% {
      content: '60';
  }

  25% {
      content: '75';
  }

  30% {
      content: '90';
  }

  35% {
      content: '105';
  }

  40% {
      content: '120';
  }

  45% {
      content: '135';
  }

  50% {
      content: '150';
  }

  55% {
      content: '165';
  }

  60% {
      content: '180';
  }

  65% {
      content: '195';
  }

  70% {
      content: '210';
  }

  75% {
      content: '225';
  }

  80% {
      content: '240';
  }

  85% {
      content: '255';
  }

  90% {
      content: '270';
  }

  95% {
      content: '285';
  }

  100% {
      content: '300';
  }
}

.project--details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.project--plus {
  color: #c01111;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 15px;
}

.project--label {
  color: #2f2f2f;
  margin: 15px 0;
  font-size: 24px;
  white-space: nowrap;
}

.project--slideshow {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  margin-right: 10%;
  overflow: hidden;
  position: relative;
  width: 322px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.slide img {
  border-radius: 8px;
  height: 469px;
  object-fit: cover;
  opacity: 0.15;
  position: relative;
  width: 100%;
}


.slide--content {
  bottom: 1%;
  border-radius: 8px;
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.slide--client {
  color: #4D5969;
  font-size: 14px;
  padding: 15px 0;
}

.slide--title {
  color: #2b3441;
  font-size: 20px;
  font-weight: bold;
}

.slide--description {
  color: #4D5969;
  margin: 30px 0;
  font-size: 16px;
}

.see-more-btn {
  color: #c01111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.nav-arrows-container {
  display: flex;
  height: 40px;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.nav-arrow {
  background-color: #ededed;
  border: none;
  border-radius: 50%;
  bottom: 50%;
  color: #939393;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 40px;
  line-height: 24px;
  padding: 8px;
  position: absolute;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 40px;
}

.nav-arrow:hover {
  background-color: red;
  color: white;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide1:checked ~ .nav-arrows-container .prev-slide1,
#slide1:checked ~ .nav-arrows-container .next-slide1 {
  display: block;
}

#slide2:checked ~ .nav-arrows-container .prev-slide2,
#slide2:checked ~ .nav-arrows-container .next-slide2 {
  display: block;
}

#slide3:checked ~ .nav-arrows-container .prev-slide3,
#slide3:checked ~ .nav-arrows-container .next-slide3 {
  display: block;
}

.prev-slide1 {
  bottom: 10px;
  right: 70px;
}

.next-slide1 {
  bottom: 10px;
  right: 10px;
}

.prev-slide2 {
  bottom: 10px;
  right: 70px;
}

.next-slide2 {
  bottom: 10px;
  right: 10px;
}

.prev-slide3 {
  bottom: 10px;
  right: 70px;
}

.next-slide3 {
  bottom: 10px;
  right: 10px;
}

.career {
  background-image: url(../images/career-bg.jpg);
  background-size: cover;
  border-radius: 16px;
  color: #fff;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.career::before {
  background-color: rgba(192, 17, 17, .9);
  border-radius: 16px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.career--btn {
  margin: 50px auto;
  margin-top: 50px;
  width: 43%;
}

.career--content {
  position: relative;
  z-index: 1;
}

.career--content::after {
  background-color: #ef3f45;
  border-radius: 50%;
  content: '';
  height: 42px;
  left: 1px;
  position: absolute;
  top: 70px;
  width: 42px;
  z-index: 0;
}

.career--description {
  font-size: 24px;
  line-height: 2;
}

.career--slogan {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.career--sun {
  font-size: 18px;
  font-weight: 300;
  padding-top: 100px;
}

.career--sun::before {
  background-color: #d82329;
  border-radius: 50%;
  content: '';
  height: 200px;
  left: 50%;
  position: absolute;
  top: 46px;
  transform: translateX(-50%);
  width: 200px;
  z-index: -1;
}

.career--title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 80px;
}

.checklist--highlight {
  font-weight: bold;
}

.checklist--icon {
  border: 6px solid #f9f9f9;
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 50px;
}

.checklist--icon::before {
  background-color: #acacac;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: -1;
}

.checklist--item {
  align-items: flex-start;
  display: flex;
  margin: 10px 0;
  width: 90%;
}

.checklist--text {
  color: #4D5969;
  font-size: 18px;
  line-height: 1.8;
}

.image-section--button {
  position: absolute;
  top: 81%;
  width: 80%;
}

.image-section--img {
  border-radius: 8px;
  max-width: 700px;
  position: absolute;
  width: 100%;
}

.work-environment {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 1140px;
  padding: 20px;
}

.work-environment--checklist {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.work-environment--content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1200px;
  width: 100%;
}

.work-environment--image-section {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.work-environment--title {
  color: #2b3441;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
}

.event {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 1200px;
  padding: 20px;
}


.event--title {
  color: #2b3441;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  position: relative;
}

.event--title::before {
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  left: 26%;
  top: -30px;
  transform: translateY(-50%);
}

.event--title::after {
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffeff0;
  position: absolute;
  left: -7%;
  bottom: -330px;
  transform: translateY(-50%);
}

.event--slideshow {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.event--slides {
  display: flex;
  gap: 15px;
  padding-top: 50px;
  transition: transform 0.5s ease;
}

.event--slide {
  min-width: 32%;
  height: 100%;
  padding: 24px;
  border: 1px solid transparent;
}

.event--slide:hover {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.event--slide-img {
  border-radius: 10px;
  width: 100%;
}

.event--slide-content {
  position: relative;
  z-index: 0;
}

.event--slide-content::before {
  content: '';
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(228,228,228,.4);
  top: 12px;
  left: 2px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

.event--slide-title {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 75px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1.8;
}

.event--slide-title:hover{
  color: #c01111;
}

.event--slide-description {
  color: #949ba4;
  height: 75px;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 400;
  line-height: 1.8;
}

.event--btn {
  font-weight: bold;
  width: 57%;
  margin-left: 11%
}

input[type="radio"] {
  display: none;
}

.event--nav-arrows-container {
  display: flex;
  height: 40px;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.event--nav-arrow {
  background-color: #ededed;
  border: none;
  border-radius: 50%;
  bottom: 50%;
  color: #939393;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 40px;
  line-height: 24px;
  padding: 8px;
  position: absolute;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 40px;
}

.event--nav-arrow:hover {
  background-color: red;
  color: white;
}

#slide1-1:checked ~ .event--slides {
  transform: translateX(0);
}

#slide2-1:checked ~ .event--slides {
  transform: translateX(-33%);
}

#slide3-1:checked ~ .event--slides {
  transform: translateX(-66%);
}

#slide4-1:checked ~ .event--slides {
  transform: translateX(-99%);
}

#slide5-1:checked ~ .event--slides {
  transform: translateX(-132%);
}

#slide6-1:checked ~ .event--slides {
  transform: translateX(-165%);
}

#slide1-1:checked ~ .event--nav-arrows-container .event--prev-slide1,
#slide1-1:checked ~ .event--nav-arrows-container .event--next-slide1 {
  display: block;
}

#slide2-1:checked ~ .event--nav-arrows-container .event--prev-slide2,
#slide2-1:checked ~ .event--nav-arrows-container .event--next-slide2 {
  display: block;
}

#slide3-1:checked ~ .event--nav-arrows-container .event--prev-slide3,
#slide3-1:checked ~ .event--nav-arrows-container .event--next-slide3 {
  display: block;
}

#slide4-1:checked ~ .event--nav-arrows-container .event--prev-slide4,
#slide4-1:checked ~ .event--nav-arrows-container .event--next-slide4 {
  display: block;
}

.event--prev-slide1 {
  top: 0px;
  right: 100px;
}

.event--next-slide1 {
  top: 0px;
  right: 20px;
}

.event--prev-slide2 {
  top: 0px;
  right: 100px;
}

.event--next-slide2 {
  top: 0px;
  right: 20px;
}

.event--prev-slide3 {
  top: 0px;
  right: 100px;
}

.event--next-slide3 {
  top: 0px;
  right: 20px;
}

.event--prev-slide4 {
  top: 0px;
  right: 100px;
}

.event--next-slide4 {
  top: 0px;
  right: 20px;
}

.event--prev-slide5 {
  top: 0px;
  right: 100px;
}

.event--next-slide5 {
  top: 0px;
  right: 20px;
}

.event--prev-slide6 {
  top: 0px;
  right: 100px;
}

.event--next-slide6 {
  top: 0px;
  right: 20px;
}

.join--btn {
  position: fixed;
  bottom: 120px;
  right: 50px;
  background: #c01111;
  border: 8px solid white;
  border-radius: 100%;
  color: white;
  height: 76px;
  width: 76px;
  z-index: 10;
  padding: 21px 5px;
}

.join--btn a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

.footer {
  display: flex;
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

.footer--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer--content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 76%;
  margin: 55px auto 30px auto;
}

.footer--logo {
  flex: 1;
}

.logo-section {
  max-height: 51px;
  max-width: 100%;
}

.footer-info {
  display: flex;
  flex: 3;
  gap: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-section {
  max-width: 490px;
}

.footer-section--title {
  color: #4d5969;
  font-size: 18px;
  position: relative;
  z-index: 0;
  font-weight: 700;
  margin-bottom: 36px;
}

.footer-section--title::before {
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #e4e4e4;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.footer-section--list {
  list-style: none;
  padding: 0;
}

.footer-section--list li {
  color: #949ba4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 15px;
}

.footer-section a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer--linebreak {
  width: 100%;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.footer--connect {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
  width: 77%;
  justify-content: center;
}

.footer--icon img {
  width: 40px;
  height: 40px;
}

.footer--copyright li {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14px;
  color: #949ba4;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  line-height: 1.8;
  list-style: none;
  max-width: 90%;
}

.footer--connect-icon ul {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  gap: 20px;
}

.footer--connect-sunnews {
  width: 60px;
  height: 20px;
}

.footer--connect-icon ul li {
  background-color: #949ba4;
  border-radius: 8px;
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  cursor: pointer;
}

.footer--connect-icon ul li:last-child {
  background-color: #ffffff;
  padding: 5px 10px;
  width: auto;
}

.footer--connect-icon ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer--connect-icon ul li:hover {
  color: #0054ca;
  background-color: #ffffff;
}

.footer--connect-icon ul li:first-child:hover {
  color: #c01111;
  background-color: #ffffff;
}

.footer--connect-icon ul li:hover {
  background-color: #ffffff;
}
