<!DOCTYPE html>
<html lang="vi">
<head>
  <title>Sun Asterisk Clone</title>
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">
</head>
<body>
  <header class="navbar">
    <div class="navbar__logo">
      <a href="index.html" aria-label="Trang chủ">
        <img
          src="../../assets/images/logo-sun@2x.png"
          alt="logo"
          style="max-height: 40px"
        />
      </a>
    </div>

    <input type="checkbox" id="menu-toggle" class="navbar__toggle-checkbox" />
    <div class="navbar__hamburger-btn">
      <label for="menu-toggle" class="navbar__hamburger">
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon"></span>
      </label>
    </div>

    <nav class="navbar__menu">
      <ul class="navbar__menu-list">
        <li><a href="#" class="navbar__menu-item navbar__menu-item--active">Home</a></li>
        <li><a href="#" class="navbar__menu-item">About us</a></li>
        <li><a href="#" class="navbar__menu-item">Projects</a></li>
        <li><a href="#" class="navbar__menu-item">Career</a></li>
        <li><a href="#" class="navbar__menu-item">Environment</a></li>
        <li><a href="#" class="navbar__menu-item">News</a></li>
      </ul>
    </nav>
    <ul class="navbar__lang">
      <li><a href="index.html" class="navbar__lang-btn">VI</a></li>
      <li>
        <a
          href="index-en.html"
          class="navbar__lang-btn navbar__lang-btn--active"
          >EN</a
        >
      </li>
    </ul>
  </header>
</body>
</html>
